@model LexusMortgages.Models.MortgageProcess


@if (Model.result == 0)
{
    <h1>Result: 0</h1>
}
else
{
    <div class="alert alert-success">
        Monthly Repayments: €@Model.result.ToString("0.00")<br />
    </div>
}