@model LexusMortgages.Models.MortgageProcess


@if (Model.result == 0)
{
    <h1>Result: 0</h1>
}
else
{
    <div class="alert alert-success">
        <div> Monthly Repayments:&nbsp;<span class="fa fa-eur fa-2x fa-align-center fa-bold">@Model.result.ToString("0.00")</span></div>
    </div>
}