@model LexusMortgages.Models.MortgageProcess


@if (Model.result == 0)
{
    <h1>Result: 0</h1>
}
else
{
    <div class="alert alert-success col-md-8 col-md-offset-2" style="margin-bottom:0;">
        <div class="col-md-12"> Monthly Repayments:&nbsp;<span class="fa fa-eur fa-2x fa-align-center fa-bold">@Model.result.ToString("0.00")</span></div>
    </div>
}