body {
    font-family: 'Varela Round', sans-serif;
}
footer {
}

body,
h1,
h2{
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
}
h3 {
    font-family: 'Varela Round', sans-serif;
    font-weight:800;
    color: #f8f8f8;
}
h4 {
    color: #f8f8f8;
}
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
.p {
    color:#fff;
}
.mypadding {
    padding: 8%;
}

.box {
    margin: 2%;
    background: rgba(229,172,52,0.7);
    border-radius:15px 15px;
    box-shadow: 10px 10px 5px #888888;
    padding-top: 1%;
}

element.style {
    padding-left: 0px;
    padding-right: 0px;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-right:0;
    margin-left:0;
}
.lead {
    font-size: 28px;
    font-weight: 400;
    padding:5%;
    /* opacity: 1 !important; */
    color: #f8f8f8;
}

.myh3 {
    font-weight: 700;
    font-size: 32px;
    font-style: italic;
    font-family: Calibri;
}

.calculator-header {
    text-align:center;
    font-weight: 700;
    font-size:x-large;
    font-family: Calibri;
}
.div-rounded-blue {
    padding:5%;
    border-radius:30px 30px 30px 30px;
    margin: auto;
    background-color: #2D6895;
}
.div-rounded-blue-contact {
    padding:2%;
    border-radius:30px 30px 30px 30px;
    background-color: #2D6895;
}
.mydiv {
    border-radius:30px 30px 30px 30px;
    margin: auto;
    background-color: #2D6895;
    padding-bottom:30px;
}

.mybutton {
  display: inline-block;
  border-color: #4CAF50;
  background-color: #4CAF50;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.mybutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.mybutton span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  background-color: #438346;
  transition: 0.5s;
}

.mybutton:hover {
  background-color: #438346;
  border-color: #438346;
}

.mybutton:hover span {
  padding-right: 25px;
}

.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.1); 
}

.mybutton:hover span:after {
  opacity: 1;
  right: 0;
}

.myshadow {
    text-shadow: 4px 4px 5px rgba(0,0,0,0.7);
    text-align:center;
}

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 50px;
    height: 50px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}
.btn-social1 {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
}

footer .footer-above {
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;

  background-color: #233140;
}

.btn-outline1 {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline1:hover,
.btn-outline1:focus,
.btn-outline1:active,
.btn-outline1.active {
  color: #2D6895;
  background: white;
  border: solid 2px white;
}

 .intro-lmlogo {
    width:65%;
}

.intro-header {
    padding-top: 10%; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 10%;
    text-align: center;
    color: #f8f8f8;
    background: url(../Content/Images/main-house2.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    /* height: 50%; */
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
}

@media(max-width:767px) {
      .box {
        margin-right: 8%;
        margin-left:0%;
        padding-bottom:2%;
        width:85%;
        background: rgba(229,172,52,0.7);
        border-radius:15px 15px;
        box-shadow: 10px 10px 5px #888888;
    }
      container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-right:0;
    margin-left:0;
}

    .myh3 {
        font-weight: 700;
        font-size: 28px;
        font-style: italic;
        font-family: Calibri;
    }
    .calculator-header {
        text-align:center;
        font-weight: 700;
        font-size: large;
        font-family: Calibri;
    }

    intro-header {
        height:250px;
    }

    .intro-message > h1 {
        font-size: 4em;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../Content/Images/villa-img.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.7);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
    }
    .intro-lmlogo {
        width:65%;
     }
}

@media(max-width:767px) {

    .intro-lmlogo {
        width:65%;
     }
}


p.copyright {
    margin: 15px 0 0;
}

@media screen and (max-width:640px) {

    #maintext {
        width:100%;
    }
    .container-fluid {
        padding:0%;
    }
    .box {
        margin-right: 8%;
        margin-left:0%;
        padding-bottom:2%;
        background: rgba(229,172,52,0.7);
        border-radius:15px 15px;
        box-shadow: 10px 10px 5px #888888;
    }
    .box {
        margin: 10%;
        background: rgba(229,172,52,0.7);
        border-radius:15px 15px;
        box-shadow: 10px 10px 5px #888888;
    }
     .myh3 {
        font-weight: 700;
        font-size: 24px;
        font-style: italic;
        font-family: Calibri;
    }

    .intro-lmlogo {
        width:70%;
    }

    .lead {
        font-size:18px;
    }

    .mydiv {
        border-radius:30px 30px 30px 30px;
        margin: auto;
        background-color: #2D6895;
        padding-bottom:30px;
    }
    .myh3 {
        text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
    }

    .smlCarousel {
        padding:5%;
    }
    .mycarousel-control {
       padding:10%;
    }
}

.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-google-plus:hover { /* round google plus icon*/
    background: #e64522;
}

.social .fa-github:hover { /* round github icon*/
    background: #343434;
}

.social .fa-pinterest:hover { /* round pinterest icon*/
    background: #cb2027;
}

.social .fa-linkedin:hover { /* round linkedin icon*/
    background: #0094BC;
}

.social .fa-flickr:hover { /* round flickr icon*/
    background: #FF57AE;
}

.social .fa-instagram:hover { /* round instagram icon*/
    background: #375989;
}

.social .fa-vimeo-square:hover { /* round vimeo square icon*/
    background: #83DAEB;
}

.social .fa-stack-overflow:hover { /* round stack overflow icon*/
    background: #FEA501;
}

.social .fa-dropbox:hover { /* round dropbox icon*/
    background: #017FE5;
}

.social .fa-tumblr:hover { /* round tumblr icon*/
    background: #3a5876;
}

.social .fa-dribbble:hover { /* round dribble icon*/
    background: #F46899;
}

.social .fa-skype:hover { /* round skype icon*/
    background: #00C6FF;
}

.social .fa-stack-exchange:hover { /* round stack exchange icon*/
    background: #4D86C9;
}

.social .fa-youtube:hover { /* round youtube icon*/
    background: #FF1F25;
}

.social .fa-xing:hover { /* round xing icon*/
    background: #005C5E;
}

.social .fa-rss:hover { /* round rss icon*/
    background: #e88845;
}

.social .fa-foursquare:hover { /* round foursquare icon*/
    background: #09B9E0;
}

.social .fa-youtube-play:hover { /* round youtube play button icon*/
    background: #DF192A;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: 127px;
}

#welcome {
    background-image: url(../Content/Images/LexusMortgageStampLogoOpaque.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* navbar */
.navbar-default {
    background-color: #2D6895;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #E5AC36;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #E5AC36;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #E5AC36;
    border-bottom-color: #E5AC36;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
#martial, #mortgageTerm, #propertyType, #mortgageType, #btnapply, #martial {
    height:100%;
}

#fullname,#email,#city,#enquiry,#telephone,#btnContact {
    width:100%;
    padding:2%;
    margin:2%;
}
input,select,text,textarea  {
    max-width:1000px !important;
    width:100% !important;
}
#amountReq,#purchasePrice,#mortgageTerm,#mortgageType,#propertyType,#btnapply {
    width:100%;
    padding:2%;
    margin:2%;
}
#fname,#sname,#address,#telephone,#netMonthlyIncome,#otherIncome,#dob, #occupation, #employer, #martial {
    width:100%;
    padding:2%;
    margin:2%;
}
#amount,#years,#rate,#btnCalculator {
    width:100%;
    padding:2%;
    margin:2%;
}
#contact {
    background: url(../Content/Images/beach.jpg) no-repeat center center;
    background-size:cover;
}

.container, .container-fluid {
    margin:0px;
    padding:0px;
}

#about {
    background: url(../Content/Images/LexusMortgageStampLogoOpaque.png) no-repeat center center;
    background-size:cover;
}
#welcome {
    background: url(../Content/Images/LexusMortgageStampLogoOpaque.png) no-repeat center center;
    background-size:cover;
    margin-top:2%;
    margin-bottom:2%;
}
#aboutus {
    background: url(../Content/Images/calculator-background.jpg) no-repeat center center;
    background-size:cover;
    margin:0px;
}

#footerpic {
    background: url(../Content/Images/sky.png) no-repeat center center;
    background-size:cover;
    margin:0px;
}

#calculator-bk {
    background: url(../Content/Images/calculator-background.jpg) no-repeat center center;
    background-size:cover;
    margin:0px;
}

#applyOnline {
    background: url(../Content/Images/calculator-background.jpg) no-repeat center center;
    background-size:cover;
    margin:0px;
}

.wide {
    width:100% !important;
}

.overlayimage
{
    position:absolute;
    top: 0px;
    left: 0px;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    color: #f8f8f8;
    background-color: rgba(229,172,52,0.7);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    box-shadow: 5px 7px 2px #888888;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #acacac;
    box-shadow: none;
}


div.panel {
    color: #fff;
    padding: 0 18px;
    background-color: rgba(229,172,52,0.7);
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
    box-shadow: none;
}

#myCarousel {
    font-family:'Architects Daughter', cursive;
}

